# Attack-Surface Risk Report

| Score | Type | Value | Confidence | Sources |
|---|---|---|---|---|
| 2.5 | external_hostname | nsztm1.digi.ninja | medium | amass |
| 2.5 | external_hostname | nsztm2.digi.ninja | medium | amass |
| 2.5 | external_hostname | aspmx3.googlemail.com | medium | amass |
| 2.5 | external_hostname | aspmx5.googlemail.com | medium | amass |
| 2.5 | external_hostname | aspmx.l.google.com | medium | amass |
| 2.5 | external_hostname | aspmx2.googlemail.com | medium | amass |
| 2.5 | external_hostname | alt2.aspmx.l.google.com | medium | amass |
| 2.5 | external_hostname | aspmx4.googlemail.com | medium | amass |
| 2.5 | external_hostname | alt1.aspmx.l.google.com | medium | amass |